html,body{
  height: 100%;
}
header nav a img{
  max-width: 50px;
  width: 50px;
}
main{
  height: 100%;
}
main h1{
  margin: 5vh 0;
  text-align: center;
}
.error{
  color: red;
}
footer{
  position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}
h2{
  margin: 10vh 0;
}
table, th, td {
  border: 1px solid black;
}
